<% if @message.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@channel, @message], class: 'box-pop f-row responsive', remote: true do |f| %>
  <%= devise_error_messages! %>
  <%= f.text_area :content, rows: 3, class: 'textarea-light f-col-4', placeholder: 'Message' %>
  <div class="actions">
    <%= f.submit "Send", class: 'btn-pop f-col-1 flex-center' %>
  </div>
<% end %>
