<!DOCTYPE html>
<html>
  <head>
    <title>GO Team</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="nav-pop fixed my-nav"> 
      <header> 
        <h2 id="nav-brand-name">GO Team</h2>
      </header>
      <ul class="menu-items"> 
        <% if user_signed_in? %>
          <li class="f-col-1 flex-center">
            <%= link_to current_user.username, user_path(current_user) %>
          </li> 
          <li class="f-col-1 flex-center">
            <%= link_to "Sign Out", destroy_user_session_path, :data => { :method => 'delete' } %>
          </li> 
        <% else %>
          <li class="f-col-1 flex-center">
            <%= link_to "Sign In", new_user_session_path %>
          </li> 
          <li class="f-col-1 flex-center">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li> 
        <% end %>
      </ul>
    </nav>
    <div class="container-fluid body-container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
</html>
